<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
          {% for subfile in site.subfiles %}
           {{subfile.num}}
              <a href="{{ subfile.url | replace:".html","" | prepend: site.baseurl }}">
                {{ subfile.title }}
              </a>
              <br />
          {% endfor %}
          {{content}}
      </div>
    </div>
    
    {% include footer.html %}
    
    {% include foot.html %}
  </body>
</html>
